#h1 {
	font-size: 24px;
}

#h2 {
	font-size: 20px;
}


#h3 {
	font-size: 16px;
}

#h4 {
	font-size: 12px;
}

#h5 {
	font-size: 8px;
}

#small { 
    font-size: smaller;
}

#strong, #b { 
    font-weight: bold;
}

#i { 
    font-style: italic;
}

#td {

}

#a {
	color: #0000FF;	
	text-decoration: underline;
	cursor: pointer;
}

*:selected * {
	color: #FF00FF;
}

/* debug
GtkBox {
	border: 1px solid red;
} */
